body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: green;
}

ul {
    margin: 300px 200px;
    padding: 0px;
    list-style: none;
    display: flex;

}

li{
    list-style: none;
    padding: 10px 20px ;
}

a{
    text-decoration: none;
    color: yellow;

     position: relative;
}

li a:before{
    content: "";
    height: 4px;
    top: 100%;
    left: 0px   ;
    width: 0px;
    background: palegreen;
    position: absolute;
    transition: .5s;
}


li:hover a:before{
    width: 50%;
    transform: translateX(100%);
}


